.single {
  padding: 2px 16px;
  background: #fff;
  display: block;
  margin: 20px 10px;
  border-left: 8px solid #fff;
}
.single:hover {
  border-left: 8px solid #4979ff;
}
.btn{
  color: #4979ff;
  font-size: large;
  display: block;
  text-align: center;
  cursor: pointer;
}
.btn:hover {
  text-decoration: underline;
}